* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0a0a0f, #1e0024);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image:
    radial-gradient(circle, rgba(234, 0, 255, 0.25) 2px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size:
    120px 120px,
    80px 80px;
  background-position:
    0 0,
    40px 60px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px outset #ea00ff;
  border-radius: 60px;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#toast {
  position: fixed;
  top: 20px;
  right: 80px;

  background: #2ecc71;
  color: white;

  padding: 15px 25px;
  border-radius: 8px;

  font-weight: bold;

  opacity: 0;
  transform: translateX(100px);

  transition: 0.3s;

  z-index: 9999;
}

#toast.show {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  width: 50%;
}

.carro {
  position: fixed;
  top: 5px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 3em; /*antes 1.4em*/
}
#cart-counter {
  position: absolute;
  top: 2px;
  right: -12px;

  width: 20px;
  height: 20px;

  background: red;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 25px;
  border-top: 3px solid #ea00ff;
  background-color: rgba(36, 36, 36, 0.384);
  box-shadow: 0 1px 6px white;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-list li {
  color: rgb(225, 173, 255);
  font-size: 1.2em;
}
.image-container {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prueba {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 35px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #ea00ff;
  border-radius: 40px;
  background: linear-gradient(to bottom, #d29bff6c, black);
}

.search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(225, 173, 255);
  font-size: 1em;
}

.title2 {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
  border-bottom: 10px solid #ea00ff;
  border-radius: 60px;
  box-shadow: inset 0 0 20px #ea00ff;
  width: 100%;
  flex-shrink: 0;
}

.title2 h2 {
  color: rgb(225, 173, 255);
  font-size: 2em;
  filter: brightness(1.2);
  text-shadow: 0 2px 5px #ea00ff;
}

.title2 p {
  margin-top: 8px;
  color: #cfcfcf;
  font-size: 1.1em;
}

.back-btn {
  width: 45px;
  height: 45px;
  background: transparent;
  border: none;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 2px 10px white;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 20px auto;
}

.card {
  width: 350px;
  height: 460px;
  min-height: 460px;
  padding: 10px;
  border: 2px solid #ea00ff;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d29bff6c, black);
}

#cart-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 12px 0;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-name {
  flex: 1;
}
.btnPlus,
.btnMinus {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
  background: rgb(225, 173, 255);
}
.btnDelete {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.7em !important;
  background: rgb(225, 173, 255);
}

.btnPlus:hover,
.btnMinus:hover {
  background: #8d00ff;
  color: white;
}

.btnDelete:hover {
  background: red;
  color: white;
}
.btnDelete {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}
#btn-comprar {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #ff00ff;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btn-comprar:hover {
  background: #c900c9;
}

.title {
  margin: 0;
  color: rgb(225, 173, 255);
  font-size: 1.8em;
  text-align: center;
}

.front-div,
.back-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.front-div {
  display: flex;
}

.back-div {
  display: none;
}

.list {
  width: 100%;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  align-self: center;
  color: rgb(225, 173, 255);
  font-size: 2em;
}

.buttons {
  width: 50%;
  max-width: 160px;
  padding: 10px;
  border: 2px outset rgb(255, 0, 255);
  border-radius: 50px;
  background: rgb(27, 0, 32);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.buttons:hover {
  background: #ea00ff;
  color: white;
  transform: scale(1.05);
}

.product-image {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
}
.price {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c0147;
  border: 3px outset #ea00ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}
.modal-content h2 {
  margin-top: 0;
  color: #ea00ff;
  text-shadow: 0 2px 5px black;
  font-size: 2em;
  text-decoration: underline;
}
.modal-content li {
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(225, 173, 255);
  list-style: none;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 4px outset #4b0052;
  border-top: 4px outset #4b0052;
  border-radius: 15px;
  text-align: center;
  background: linear-gradient(to bottom, #bc6aff6c, black);
  filter: brightness(1.3);
  text-decoration: underline;
}
.close-modal {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    gap: 10px;
  }
  .list {
    font-size: 1.6em;
  }
  .title {
    font-size: 1.5em;
  }

  .logo {
    width: 150px;
  }
  .title2 h2 {
    font-size: 2.3em;
  }
  .navbar {
    width: 60%;
    padding: 12px 0;
  }
  .prueba {
    width: 90%;
  }

  .nav-list {
    gap: 35px;
  }

  .nav-list li {
    font-size: 1.3rem;
  }

  .cards {
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
    gap: 25px;
    padding: 20px;
  }

  .card {
    width: 100%;
    padding: 15px;
  }

  .product-image {
    width: 60%;
  }

  .buttons {
    width: 60%;
    font-size: 1rem;
  }
  .modal-content {
    text-align: center;
  }
}

/* MAX WIDTH 480PX */

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    padding: 15px;
  }
  #cart-counter {
    top: -3px;
    right: 15px;
    width: 18px;
    height: 18px;
    width: 18px;
    font-size: 10px;
  }
  #toast {
    top: auto !important;
    bottom: 20px !important;
    left: 20px;
    width: 60%;
    font-size: 0.8em;
  }
  .modal-content {
    width: 70%;
    padding: 10px 5px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: (0px 4px 100px white);
  }
  .modal-content h2 {
    font-size: 1.3em;
  }
  .modal-content li {
    font-size: 1em;
    border-bottom: 1px solid #ea00ff;
    border-radius: 15px;
    text-align: center;

    font-weight: bold;
    filter: brightness(1.3);
    text-decoration: underline;
  }
  #cart-items li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .carro {
    right: 0px;

    font-size: 2em;
  }
  .card {
    width: 80% !important;
  }
  .prueba {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .title2 {
    width: 100%;
  }
  .title2 h2 {
    font-size: 1.7em;
  }
  .title {
    font-size: 1.2em !important;
  }
  .search {
    width: 60%;
  }
  .product-image {
    width: 60%;
  }
  .navbar {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
  }
  .list {
    font-size: 1.3em !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .prueba {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 1.6em;
  }
  .cards {
    width: 100%;
    padding: 0;
  }
  .list {
    font-size: 1.7em;
  }
  .card {
    width: 100%;
    min-width: 0;
  }
  .image-container {
    width: 100%;
    height: 250px;
  }
  .navbar {
    width: 80%;
    margin-top: 20px;
    font-size: 0.9em;
  }
  .modal-content {
    width: 70%;
    text-align: center;
  }
}
@media (min-width: 1199px) {
  .list {
    font-size: 1.7em;
  }
  .buttons {
    width: 40% !important;
    padding: 10px;
    font-size: 0.7em;
  }
  .modal-content {
    width: 40%;
    text-align: center;
  }
  .modal-content h2 {
    font-size: 3em;
  }
  .modal-content li {
    font-size: 1.2em;
  }
  .modal-content p {
    font-size: 1.5em;
  }
  .title {
    font-size: 1.6em;
  }
  .prueba {
    width: 60%;
    justify-content: center;
    align-items: flex-start;
  }
  .navbar {
    width: 40%;
    margin: 0 0 20px;
  }
  .hero-logo {
    width: 100%;
    justify-content: flex-start;
  }
  .logo {
    width: 10%;
  }
  .search {
    width: 60%;
  }
}
#order-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;

  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* Caja del mensaje */
#order-modal .modal-content {
  width: 90%;
  max-width: 500px;

  background: #1b1b1b;
  border: 2px solid #00bcd4;
  border-radius: 18px;

  padding: 30px;

  text-align: center;

  color: white;

  box-shadow: 0 0 30px rgba(0, 188, 212, 0.35);

  animation: aparecer 0.35s ease;
}

/* Título */
#order-modal h2 {
  color: #00e5ff;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Número de pedido */
#order-number {
  color: #bdbdbd;
  font-size: 15px;
  margin-bottom: 25px;
}

/* Lista */
#order-products {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

#order-products li {
  display: flex;
  justify-content: space-between;

  padding: 12px 15px;

  margin-bottom: 10px;

  border-radius: 10px;

  background: #2b2b2b;

  font-size: 17px;
}

/* Total */
#order-total {
  margin-top: 20px;
  font-size: 24px;
  color: #00e676;
}

/* Botón */
#close-order {
  margin-top: 30px;

  padding: 12px 30px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  font-size: 17px;
  font-weight: bold;

  background: #00bcd4;
  color: white;

  transition: 0.25s;
}

#close-order:hover {
  background: #0097a7;
  transform: scale(1.05);
}

/* Animación */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.success-icon {
  width: 90px;
  height: 90px;

  margin: 0 auto 20px;

  border-radius: 50%;

  background: #00e676;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 50px;

  box-shadow: 0 0 20px rgba(0, 230, 118, 0.45);
}
